# PROJET 11 : LA POULE QUI CHANTE (partie 1)

## 1 Importation des librairies

In [295]:
# Importation des librairies

import pandas as pd

import datetime

import numpy as np

from scipy import stats

import matplotlib.pyplot as plt

import seaborn as sns

In [296]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\djamel\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

## 2 Importation des fichiers et analyse exploratoire des tables

---

### 2.1 Table Disponibilité alimentaire 2017

In [297]:
# Importation de la table Disponibilité alimentaire de 2017

dispo = pd.read_csv('DisponibiliteAlimentaire_2017.csv')
dispo.head(3)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées

In [298]:
# Informations de la table

dispo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [299]:
dispo.head(3).T

,0,1,2
Code Domaine,FBS,FBS,FBS
Domaine,Nouveaux Bilans Alimentaire,Nouveaux Bilans Alimentaire,Nouveaux Bilans Alimentaire
Code zone,2,2,2
Zone,Afghanistan,Afghanistan,Afghanistan
Code Élément,5511,5611,5072
Élément,Production,Importations - Quantité,Variation de stock
Code Produit,2511,2511,2511
Produit,Blé et produits,Blé et produits,Blé et produits
Code année,2017,2017,2017
Année,2017,2017,2017
Unité,Milliers de tonnes,Milliers de tonnes,Milliers de tonnes
Valeur,4281.0,2302.0,-119.0
Symbole,S,S,S
Description du Symbole,Données standardisées,Données standardisées,Données standardisées

In [300]:
# Valeurs uniques de la colonne "Produit"

dispo['Produit'].unique()

array(['Blé et produits', 'Riz et produits', 'Orge et produits',
       'Maïs et produits', 'Seigle et produits', 'Avoine',
       'Millet et produits', 'Sorgho et produits', 'Céréales, Autres',
       'Pommes de Terre et produits', 'Ignames', 'Racines nda',
       'Sucre, canne', 'Sucre, betterave', 'Sucre Eq Brut',
       'Edulcorants Autres', 'Miel', 'Haricots', 'Pois',
       'Légumineuses Autres et produits', 'Noix et produits', 'Soja',
       'Arachides Decortiquees', 'Graines de tournesol',
       'Graines Colza/Moutarde', 'Graines de coton', 'Coco (Incl Coprah)',
       'Sésame', 'Olives', 'Plantes Oleiferes, Autre', 'Huile de Soja',
       "Huile d'Arachide", 'Huile de Tournesol',
       'Huile de Colza&Moutarde', 'Huile Graines de Coton',
       'Huile de Palmistes', 'Huile de Palme', 'Huile de Coco',
       'Huile de Sésame', "Huile d'Olive", 'Huile de Son de Riz',
       'Huile de Germe de Maïs', 'Huil Plantes Oleif Autr',
       'Tomates et produits', 'Oignons', 'Légumes, Autres',
       'Oranges, Mandarines', 'Citrons & Limes et produits',
       'Pamplemousse et produits', 'Agrumes, Autres', 'Bananes',
       'Pommes et produits', 'Ananas et produits', 'Dattes', 'Raisin',
       'Fruits, Autres', 'Café et produits', 'Feve de Cacao et produits',
       'Thé', 'Poivre', 'Piments', 'Girofles', 'Épices, Autres', 'Vin',
       'Bière', 'Boissons Fermentés', 'Boissons Alcooliques',
       'Alcool, non Comestible', 'Viande de Bovins',
       "Viande d'Ovins/Caprins", 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Abats Comestible',
       'Beurre, Ghee', 'Crème', 'Graisses Animales Crue', 'Oeufs',
       'Lait - Excl Beurre', 'Poissons Eau Douce',
       'Aliments pour enfants', 'Miscellanees', 'Manioc et produits',
       'Patates douces', 'Palmistes', 'Bananes plantains',
       'Huiles de Poissons', 'Huiles de Foie de Poisso', 'Perciform',
       'Poissons Pelagiques', 'Poissons Marins, Autres', 'Crustacés',
       'Cephalopodes', 'Mollusques, Autres', 'Animaux Aquatiques Autre',
       'Plantes Aquatiques', 'Sucre non centrifugé',
       'Viande de Anim Aquatiq'], dtype=object)

In [301]:
# Filtre des données de "viande de volailles"

viande_volaille = dispo.loc[dispo['Produit']== 'Viande de Volailles']
viande_volaille.tail(3)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
176398,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2734,Viande de Volailles,2017,2017,Kcal/personne/jour,16.00,Fc,Donnée calculée
176399,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2734,Viande de Volailles,2017,2017,g/personne/jour,1.59,Fc,Donnée calculée
176400,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2734,Viande de Volailles,2017,2017,g/personne/jour,0.99,Fc,Donnée calculée

In [302]:
# Informations du df filtré

viande_volaille.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2061 entries, 651 to 176400
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            2061 non-null   object
 1   Domaine                 2061 non-null   object
 2   Code zone               2061 non-null   int64
 3   Zone                    2061 non-null   object
 4   Code Élément            2061 non-null   int64
 5   Élément                 2061 non-null   object
 6   Code Produit            2061 non-null   int64
 7   Produit                 2061 non-null   object
 8   Code année              2061 non-null   int64
 9   Année                   2061 non-null   int64
 10  Unité                   2061 non-null   object
 11  Valeur                  2061 non-null   float64
 12  Symbole                 2061 non-null   object
 13  Description du Symbole  2061 non-null   object
dtypes: float64(1), int64(5), object(8)
memory usage: 241.5+ KB

In [303]:
# Colonnes du df filtré

viande_volaille.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [304]:
# Valeurs uniques dans chaque colonne

for i in viande_volaille.columns:
  print(i, viande_volaille[i].unique())

Code Domaine ['FBS']
Domaine ['Nouveaux Bilans Alimentaire']
Code zone [  2 202   3   4  79   7   8 194   9   1  10  11  52  12  16  14  57 255
  23  53  19  80  20  21  27 233  35 115  32  33  40  96 128  41 214  50
  44  46  48 107  98  49  54  72  55  59  60 225  58 203  63 209 231 238
 185  66  67  68  74  75  73  81  84  86  89  90 175  91  93  95  97  25
 100 101 102 103 104  99 105 106 109 110 112 108 114 113  83 118 122 119
 121 123 126 256 154 129 131 130 132 133 134 143 137 136 138 141 273 144
  28 147 149 157 158 159 162 153 156 221 226 235 165 166 169 150 170 171
 173  70 174  37 117 146 120  56 116 215 183 229 184 189 188 191 244 193
 195 272 197 199 198 276  38 210 211 207 208  39 167 216 176 217 220 222
 213 223 230 234 155 236 237 249 251 181]
Zone ['Afghanistan' 'Afrique du Sud' 'Albanie' 'Algérie' 'Allemagne' 'Angola'
 'Antigua-et-Barbuda' 'Arabie saoudite' 'Argentine' 'Arménie' 'Australie'
 'Autriche' 'Azerbaïdjan' 'Bahamas' 'Bangladesh' 'Barbade' 'Bélarus'
 'Belgique' 'Belize' 'Bénin' 'Bolivie (État plurinational de)'
 'Bosnie-Herzégovine' 'Botswana' 'Brésil' 'Bulgarie' 'Burkina Faso'
 'Cabo Verde' 'Cambodge' 'Cameroun' 'Canada' 'Chili'
 'Chine - RAS de Hong-Kong' 'Chine - RAS de Macao' 'Chine, continentale'
 'Chine, Taiwan Province de' 'Chypre' 'Colombie' 'Congo' 'Costa Rica'
 "Côte d'Ivoire" 'Croatie' 'Cuba' 'Danemark' 'Djibouti' 'Dominique'
 'Égypte' 'El Salvador' 'Émirats arabes unis' 'Équateur' 'Espagne'
 'Estonie' 'Eswatini' "États-Unis d'Amérique" 'Éthiopie'
 'Fédération de Russie' 'Fidji' 'Finlande' 'France' 'Gabon' 'Gambie'
 'Géorgie' 'Ghana' 'Grèce' 'Grenade' 'Guatemala' 'Guinée' 'Guinée-Bissau'
 'Guyana' 'Haïti' 'Honduras' 'Hongrie' 'Îles Salomon' 'Inde' 'Indonésie'
 "Iran (République islamique d')" 'Iraq' 'Irlande' 'Islande' 'Israël'
 'Italie' 'Jamaïque' 'Japon' 'Jordanie' 'Kazakhstan' 'Kenya'
 'Kirghizistan' 'Kiribati' 'Koweït' 'Lesotho' 'Lettonie' 'Liban' 'Libéria'
 'Lituanie' 'Luxembourg' 'Macédoine du Nord' 'Madagascar' 'Malaisie'
 'Malawi' 'Maldives' 'Mali' 'Malte' 'Maroc' 'Maurice' 'Mauritanie'
 'Mexique' 'Mongolie' 'Monténégro' 'Mozambique' 'Myanmar' 'Namibie'
 'Népal' 'Nicaragua' 'Niger' 'Nigéria' 'Norvège' 'Nouvelle-Calédonie'
 'Nouvelle-Zélande' 'Oman' 'Ouganda' 'Ouzbékistan' 'Pakistan' 'Panama'
 'Paraguay' 'Pays-Bas' 'Pérou' 'Philippines' 'Pologne'
 'Polynésie française' 'Portugal' 'République centrafricaine'
 'République de Corée' 'République de Moldova'
 'République démocratique populaire lao' 'République dominicaine'
 'République populaire démocratique de Corée'
 'République-Unie de Tanzanie' 'Roumanie'
 "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord" 'Rwanda'
 'Sainte-Lucie' 'Saint-Kitts-et-Nevis' 'Saint-Vincent-et-les Grenadines'
 'Samoa' 'Sao Tomé-et-Principe' 'Sénégal' 'Serbie' 'Sierra Leone'
 'Slovaquie' 'Slovénie' 'Soudan' 'Sri Lanka' 'Suède' 'Suisse' 'Suriname'
 'Tadjikistan' 'Tchad' 'Tchéquie' 'Thaïlande' 'Timor-Leste' 'Togo'
 'Trinité-et-Tobago' 'Tunisie' 'Turkménistan' 'Turquie' 'Ukraine'
 'Uruguay' 'Vanuatu' 'Venezuela (République bolivarienne du)' 'Viet Nam'
 'Yémen' 'Zambie' 'Zimbabwe']
Code Élément [5511 5611 5072 5301 5123 5170 5142  645  664  674  684 5911 5171 5131
 5154 5521 5527]
Élément ['Production' 'Importations - Quantité' 'Variation de stock'
 'Disponibilité intérieure' 'Pertes' 'Résidus' 'Nourriture'
 'Disponibilité alimentaire en quantité (kg/personne/an)'
 'Disponibilité alimentaire (Kcal/personne/jour)'
 'Disponibilité de protéines en quantité (g/personne/jour)'
 'Disponibilité de matière grasse en quantité (g/personne/jour)'
 'Exportations - Quantité' 'Alimentation pour touristes' 'Traitement'
 'Autres utilisations (non alimentaire)' 'Aliments pour animaux'
 'Semences']
Code Produit [2734]
Produit ['Viande de Volailles']
Code année [2017]
Année [2017]
Unité ['Milliers de tonnes' 'kg' 'Kcal/personne/jour' 'g/personne/jour']
Valeur [ 2.8000e+01  2.9000e+01  0.0000e+00  5.7000e+01  2.0000e+00  5.5000e+01
  1.5300e+00  5.0000e+00  5.4000e-01  3.3000e-01  1.6670e+03  5.1400e+02
  6.3000e+01  2.1180e+03  8.3000e+01  2.0350e+03  3.5690e+01  1.4300e+02
  1.4110e+01  9.2500e+00  1.3000e+01  3.8000e+01  4.0000e+00  4.7000e+01
  1.6360e+01  8.5000e+01  6.2600e+00  6.4500e+00  2.7500e+02  2.7700e+02
  2.6400e+02  6.3800e+00  2.2000e+01  1.9700e+00  1.5000e+00  1.5140e+03
  8.4200e+02 -2.9000e+01  6.4600e+02  1.7390e+03  1.6700e+02 -3.8000e+01
  1.6090e+03  1.9470e+01  7.1000e+01  7.9600e+00  4.1600e+00  4.2000e+01
  3.1900e+02  3.1500e+02  1.0560e+01  3.5000e+01  3.6000e+00  2.2200e+00
  7.0000e+00  5.4100e+01  2.3300e+02  1.7770e+01  1.7550e+01  6.1600e+02
  7.2200e+02 -1.0800e+02  1.0000e+01  1.4350e+03  4.3360e+01  1.5100e+02
  1.5570e+01  9.3800e+00  2.1610e+03  8.0000e+00  2.0700e+02  1.9620e+03
  1.0600e+02  1.8560e+03  4.2240e+01  1.8200e+02  1.3530e+01  1.3840e+01
  1.1000e+01 -2.0000e+00  1.6060e+01  5.4000e+01  5.4400e+00  3.3900e+00
  1.2690e+03  1.6000e+01  1.1710e+03  4.7650e+01  1.9200e+02  1.6600e+01
  1.3450e+01  1.4800e+02  1.1000e+02  7.8000e+01  1.7300e+02  1.2000e+01
  1.6000e+02  1.8200e+01  6.5000e+01  7.4900e+00  3.6600e+00  1.0400e+02
  2.7000e+01  1.2900e+02  1.3110e+01  4.4000e+01  4.4500e+00  2.7700e+00
  6.0000e+00  2.4000e+01  2.6000e+01  9.0000e+00  4.3170e+01  1.4610e+01
  1.3330e+01  2.4900e+02  2.5000e+02  2.4000e+02  4.7000e-01  5.1000e-01
  1.5000e+01  1.7000e+01  3.0000e+00  4.6780e+01  1.9900e+02  1.5330e+01
  1.4850e+01  4.6300e+02  2.1000e+01  6.7000e+01  1.5200e+02  2.6500e+02
  1.0000e+00  2.7980e+01  9.5000e+01  9.4100e+00  6.0600e+00  3.3800e+02
 -6.0000e+00  6.5600e+02  3.3000e+01 -2.5000e+01  1.4400e+02  1.2650e+01
  4.5700e+00  2.7100e+00  2.0000e+01  1.9000e+01  2.5690e+01  8.2600e+00
  8.3700e+00  1.8000e+01  1.2300e+02 -2.0000e+01  1.6100e+02  1.4400e+01
  3.7000e+01  4.9800e+00  1.7100e+00  5.3300e+02  1.0300e+02  4.2900e+02
  4.0300e+02  3.6000e+01  1.5500e+02  1.1430e+01  1.1910e+01  6.1000e+01
 -1.0000e+00  5.6000e+01  1.6700e+01  5.6600e+00  3.5100e+00  1.1900e+00
  7.1000e-01  1.4201e+04  4.2230e+03  9.9820e+03  4.8030e+01  2.0400e+02
  1.5680e+01  1.5340e+01  1.0700e+02  1.0800e+02  4.5000e+01  1.5700e+02
  2.2060e+01  8.1000e+01  8.7400e+00  4.9000e+00  4.6000e+01  2.2700e+00
  7.7000e-01  4.8000e-01  1.7620e+01  6.2000e+01  6.5200e+00  3.7500e+00
  2.3400e+00  7.4000e-01  8.5000e-01  8.2000e+01  3.1600e+00  1.0700e+00
  6.7000e-01  1.4170e+03  1.6300e+02  1.4330e+03  3.9020e+01  1.5400e+02
  1.3860e+01  1.0540e+01  7.1200e+02  8.0000e+01  1.1500e+02  6.7200e+02
  3.6360e+01  1.5300e+02  1.2210e+01  1.1220e+01  9.0700e+02 -1.2000e+01
  6.6300e+02  2.8000e+02  3.2000e+01 -1.8000e+01 -1.2500e+02  3.9100e+02
  5.3510e+01  2.1000e+02  2.2260e+01  1.2700e+01  2.3000e+01 -3.0000e+00
  3.4470e+01  1.4200e+02  1.1900e+01  1.0080e+01  1.8236e+04  4.5200e+02
 -5.0000e+01  5.7600e+02  1.8161e+04  6.4300e+02  1.7518e+04  1.2330e+01
  5.9000e+01  3.9600e+00  4.6700e+00  6.5200e+02  7.8500e+02  3.3170e+01
  1.2600e+02  1.1010e+01  8.7000e+00  2.5000e+01  1.4000e+01  3.0000e+01
  2.5080e+01  9.1000e+01  9.5800e+00  5.5400e+00  1.5640e+03 -4.0000e+00
  1.6430e+03  1.5650e+03  3.1990e+01  1.1100e+02  9.5700e+00  7.6900e+00
  2.1530e+01  7.2000e+01  7.4500e+00  4.4700e+00  1.3300e+02  1.3400e+02
  1.3100e+02  2.6520e+01  9.2000e+01  7.9300e+00  6.3600e+00  5.8000e+01
  2.5300e+00  8.6000e-01  5.3000e-01  1.0770e+01  4.0600e+00  2.2000e+00
  3.1200e+02  3.4200e+02  7.0000e+01  2.6900e+02  2.3720e+01  7.1200e+00
  5.7000e+00  1.3900e+02  1.6600e+02  2.8980e+01  1.1200e+02  1.2970e+01
  6.3400e+00  2.6800e+00  9.2000e-01  5.9000e-01  3.5190e+01  1.5000e+02
  1.1520e+01  1.1260e+01  1.1180e+03 -2.3000e+01  1.2500e+03  1.2960e+01
  5.0000e+01  4.5100e+00  3.4200e+00  1.3600e+02  2.0430e+01  6.2500e+00
  4.8000e+01  4.3300e+02 -2.6000e+01  9.4000e+01  4.1200e+02  4.3470e+01
  1.4700e+02  1.4800e+01  3.4000e+02  3.4100e+02  3.2400e+02  1.9310e+01
  6.1500e+00  6.3500e+00  1.5150e+03  2.0500e+02  2.1200e+02  1.4970e+03
  6.6000e+01  1.4180e+03  3.0390e+01  1.0500e+02  1.2470e+01  5.7200e+00
  2.1260e+01  8.6000e+01  7.2700e+00  6.0300e+00  6.4600e+00  2.2300e+00
  1.3700e+00  2.1914e+04  3.6920e+03  1.8266e+04  7.7000e+01  8.9000e+01
  1.8100e+04  5.5680e+01  2.1900e+02  1.9930e+01  1.4830e+01  1.3000e-01
  4.0000e-02  3.0000e-02  4.4440e+03  2.2600e+02  4.5560e+03 -7.0000e+00
  4.5090e+03  3.0980e+01  1.0440e+01  6.5500e+00  2.8020e+01  9.7000e+01
  9.4400e+00  1.8760e+01  6.8000e+01  7.8700e+00  3.7600e+00  1.7500e+03
  5.0600e+02  1.8300e+02  5.0100e+02  1.5730e+03  1.4850e+03  2.2900e+01
  8.9500e+00  7.6000e+01  2.9330e+01  9.9000e+01  1.0590e+01  5.9800e+00
  3.5300e+00  1.2400e+00  7.5000e-01  5.1000e+01  1.5270e+01  5.1900e+00
  3.2100e+00  6.0000e+01  2.1100e+02  7.2400e+00  2.2600e+00  7.3000e-01
  2.4600e+02  7.9000e+01  1.1800e+02  1.7800e+02  1.6200e+02  1.5320e+01
  5.3000e+01  6.3200e+00  2.8900e+00  4.5700e+01  1.5500e+01  1.3990e+01
  2.3500e+02  3.5700e+02  3.4800e+02  2.0580e+01  6.1100e+00  4.9500e+00
  4.9000e+01  4.0800e+00  1.4200e+00  8.4000e-01  2.1600e+00  4.6000e-01
  3.1000e+01  3.8340e+01  1.6500e+02  1.2550e+01  9.8000e+01  8.9100e+00
  2.7500e+00  2.1100e+00  1.9300e+02  2.1730e+01  9.3000e+01  6.9800e+00
  7.1100e+00  4.9300e+02  7.4000e+01  2.6600e+02 -1.3000e+01  2.5270e+01
  9.8000e+00  6.9300e+00  1.5100e+00  1.3100e+00  3.5450e+03 -1.1900e+02
  3.6610e+03  6.9500e+02  2.9650e+03  2.3010e+03 -2.1000e+01  2.3230e+03
  1.1300e+02  3.0600e+02  1.9040e+03  7.1900e+00  2.4200e+00  1.6100e+00
  2.1740e+03 -8.6000e+01  2.2200e+03  2.7520e+01  9.6000e+01  5.9900e+00
  4.7000e+02  5.6600e+02  5.6100e+02  1.4950e+01  5.2000e+01  5.3700e+00
  3.2300e+00  1.2800e+02 -1.1000e+01  2.5820e+01  1.0000e+02  1.1600e+01
  2.9950e+01  6.2900e+02 -1.0000e+01  6.3600e+02  5.5600e+02  6.7390e+01
  2.3400e+02  2.7870e+01  1.2830e+01  1.3150e+03  1.1730e+03  1.1460e+03
  1.8880e+01  7.8300e+00  3.4800e+00  1.4900e+02  5.1100e+01  1.5710e+01
  1.2180e+01  2.2150e+03  1.0690e+03  8.5900e+02  2.4150e+03  2.3590e+03
  1.8500e+01  3.9500e+00  6.4000e+01  2.8070e+01  1.0100e+01  6.0400e+00
  1.7100e+02  1.7400e+02  3.3100e+02  3.3000e+02  1.8270e+01  6.1800e+00
  3.8600e+00  3.4000e+01  2.3000e-01  1.4000e-01  3.1000e+00  1.0800e+00
  1.7980e+01  6.6500e+00  3.8100e+00  1.3700e+02  1.8900e+02  1.8800e+02
  4.6250e+01  1.5600e+02  1.5870e+01  9.7900e+00  2.7200e+00  4.3000e+01
  4.1000e+01  2.0890e+01  7.2200e+00  4.5300e+00  7.3000e+01  1.0740e+01
  3.9000e+00  2.3300e+00  1.0670e+01  3.7400e+00  2.2500e+00  2.8190e+01
  9.7400e+00  1.8330e+01  6.9000e+01  4.2800e+00  4.0000e+01  1.9730e+01
  7.0100e+00  4.1700e+00  2.8700e+00  9.7000e-01  1.1300e+00  1.7240e+03
  1.6210e+03  3.2000e+02  1.2200e+03  3.9210e+01  1.2950e+01  9.6500e+00
  1.3000e+02  5.1700e+00  1.7400e+00  1.0900e+00  1.3500e+01  4.7000e+00
  2.9400e+00  2.8300e+00  9.6000e-01  6.0000e-01  2.7170e+01  1.2680e+01
  5.4100e+00  7.6200e+02  7.4600e+02  2.0960e+01  7.2900e+00  4.3500e+00
  3.7930e+01  1.3060e+01  8.0500e+00  5.1400e+00  1.5900e+00  3.2490e+03
  9.7200e+02  4.2190e+03  4.0580e+03  3.2520e+01  9.2600e+00  9.2700e+00
  9.5000e-01  1.5980e+01  5.7900e+00  3.3700e+00  1.1600e+02  3.5900e+00
  1.2000e+00  8.2000e-01  1.6620e+03  1.6660e+03  3.0370e+01  9.9300e+00
  8.1100e+00  1.1530e+01  4.2500e+00  2.3800e+00  1.9900e+00  4.2000e-01
  1.3800e+02  2.1590e+01  6.9100e+00  7.0800e+00  9.4000e-01  3.2000e-01
  2.0000e-01  2.0100e+02  2.0200e+02  1.0100e+00  3.1000e-01  1.0000e-01
  1.0100e+02  1.0200e+02  1.9050e+01  7.8100e+00  3.6100e+00  3.8710e+01
  1.4050e+01  8.4200e+00  2.2300e+02  1.6800e+02  1.6400e+02  3.4790e+01
  1.4000e+02  1.2020e+01  9.7700e+00  1.1400e+02  2.1630e+01  7.3800e+00
  4.5800e+00  1.5200e+00  1.9600e+00  6.3000e-01  4.0000e-01  1.2810e+03
  1.2820e+03  1.2180e+03  5.8600e+00  1.2500e+00  1.9800e+02  3.3820e+01
  1.1700e+02  1.0340e+01  8.0200e+00  1.8000e+00  1.1000e+03  6.0800e+02
 -8.2000e+01  3.7200e+02 -7.8000e+01  3.4600e+02  2.0330e+01  8.4800e+00
  1.4650e+03  1.5230e+03  3.1600e+02  7.8300e+02  4.2400e+02  1.3470e+01
  6.7100e+00  3.7200e+00  1.2720e+03  1.5210e+03  1.4590e+03  1.3870e+01
  4.6500e+00  3.1100e+00  2.3510e+03  2.2500e+02  1.0250e+03  1.1560e+03
 -5.9000e+01  1.1500e+03  3.0300e+01  1.2140e+01  4.7400e+01  1.6200e+01
  1.0860e+01  3.6100e+02  3.2500e+02  3.0580e+01  1.0900e+02  1.2740e+01
  6.0200e+00  2.2900e+00  7.8000e-01  8.3800e+02  8.5400e+02  5.6800e+00
  4.2100e+00  1.6140e+01  5.5300e+00  3.4600e+00  1.0910e+01  2.8100e+00
  3.3900e+02  3.7500e+02  3.7100e+02  3.5260e+01  1.0880e+01  8.4600e+00
  1.6200e+00  4.9000e-01  1.8800e+00  4.1000e-01  3.9200e+02  1.4600e+02
  8.8000e+01  3.8100e+02  1.9370e+01  7.9100e+00  3.6500e+00  1.8140e+03
  7.7900e+02  3.5900e+02  2.2340e+03  2.1310e+03  3.1940e+01  1.2000e+02
  1.3770e+01  6.7400e+00  1.4900e+00  5.0000e-01  5.6690e+01  2.4100e+02
  1.7860e+01  5.5770e+01  1.9000e+02  1.9220e+01  7.2310e+01  2.4300e+02
  2.5100e+01  1.5060e+01  6.4770e+01  2.1700e+02  2.1880e+01  1.3680e+01
  9.4700e+00  2.1000e+00  4.7600e+00  9.0000e+01  1.0160e+01  3.5000e+00
  2.2400e+00  3.9700e+00  5.2000e-01  1.3900e+01  4.7400e+00  3.0400e+00
  2.4410e+01  8.7200e+00  5.0500e+00  1.6000e+00  3.4000e-01  7.7800e+00
  2.6400e+00  1.6400e+00  8.4000e+01  1.8700e+02 -3.7000e+01  7.0900e+00
  1.5720e+01  6.4900e+00  3.0700e+00  3.1060e+01  7.9700e+00  3.9000e+01
  1.4500e+00  4.5000e-01  1.5000e-01  2.1960e+01  7.5000e+00  5.4900e+00
  1.6760e+03  7.9600e+02  8.8100e+02 -4.8000e+01  8.9600e+02  3.1900e+00
  4.2400e+00  1.4600e+00  9.0000e-01  7.0600e+00  2.3900e+00  7.5000e+01
  5.4540e+01  1.6630e+01  1.3050e+01  2.1300e+02  1.9500e+02  1.7030e+01
  6.2800e+00  4.5200e+00  2.1920e+03  1.6740e+03  2.0640e+01  6.9900e+00
  4.5000e+00  1.2110e+03  1.2100e+02  2.7300e+02  1.0090e+03  1.0060e+03
  2.2620e+01  7.5800e+00  5.1100e+00  9.1200e+00  2.9700e+00  1.1660e+01
  4.0500e+00  2.4800e+00  6.0000e+02  6.2600e+02  5.9600e+02  2.0280e+01
  7.2300e+00  4.3900e+00  9.1800e+02  2.9100e+02  1.2060e+03  1.1660e+03
  4.0100e+00  3.4000e+00  2.3700e+02  8.5300e+00  1.8500e+00  1.1500e+00
  7.2000e-01  4.6800e+00  9.9000e-01]
Symbole ['S' 'Fc']
Description du Symbole ['Données standardisées' 'Donnée calculée']

In [305]:
# Variables à sélectionner

volaille_select = viande_volaille.loc[:,['Zone','Élément','Produit', 'Unité', 'Valeur']]
volaille_select.head()

,Zone,Élément,Produit,Unité,Valeur
651,Afghanistan,Production,Viande de Volailles,Milliers de tonnes,28.0
652,Afghanistan,Importations - Quantité,Viande de Volailles,Milliers de tonnes,29.0
653,Afghanistan,Variation de stock,Viande de Volailles,Milliers de tonnes,0.0
654,Afghanistan,Disponibilité intérieure,Viande de Volailles,Milliers de tonnes,57.0
655,Afghanistan,Pertes,Viande de Volailles,Milliers de tonnes,2.0

In [306]:
# Informations du nouveau df

volaille_select.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2061 entries, 651 to 176400
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Zone     2061 non-null   object
 1   Élément  2061 non-null   object
 2   Produit  2061 non-null   object
 3   Unité    2061 non-null   object
 4   Valeur   2061 non-null   float64
dtypes: float64(1), object(4)
memory usage: 96.6+ KB

In [307]:
# Faire pivoter la colonne "Élément"

volaille_pivot = volaille_select.pivot_table(index='Zone', columns='Élément', values = 'Valeur')
volaille_pivot.head(3)

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,5.0,1.53,0.33,0.54,57.0,NaN,29.0,55.0,2.0,28.0,0.0,NaN,NaN,0.0
Afrique du Sud,0.0,NaN,NaN,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,NaN,NaN,0.0
Albanie,NaN,NaN,NaN,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,NaN,13.0,0.0,NaN,NaN,4.0

In [308]:
# Valeurs nulles par variables (Colonne)

volaille_pivot.isnull().sum()

Élément
Alimentation pour touristes                                       94
Aliments pour animaux                                            171
Autres utilisations (non alimentaire)                            138
Disponibilité alimentaire (Kcal/personne/jour)                     0
Disponibilité alimentaire en quantité (kg/personne/an)             0
Disponibilité de matière grasse en quantité (g/personne/jour)      0
Disponibilité de protéines en quantité (g/personne/jour)           0
Disponibilité intérieure                                           2
Exportations - Quantité                                           37
Importations - Quantité                                            2
Nourriture                                                         2
Pertes                                                           105
Production                                                         4
Résidus                                                            8
Semences                                                         171
Traitement                                                       126
Variation de stock                                                 3
dtype: int64

In [309]:
# Remplacer les valeurs manquantes des colonnes par leurs moyennes

volaille_pivot = volaille_pivot.fillna(volaille_pivot.mean())
volaille_pivot.head(3)

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,,,
Afghanistan,0.217949,0.0,44.117647,5.0,1.53,0.33,0.54,57.0,132.185185,29.0,55.0,2.00000,28.0,0.0,0.0,26.282609,0.0
Afrique du Sud,0.000000,0.0,44.117647,143.0,35.69,9.25,14.11,2118.0,63.000000,514.0,2035.0,83.00000,1667.0,0.0,0.0,26.282609,0.0
Albanie,0.217949,0.0,44.117647,85.0,16.36,6.45,6.26,47.0,0.000000,38.0,47.0,43.58209,13.0,0.0,0.0,26.282609,4.0

P4 : Production + Importations - Exportations + Variation de stock = Disponibité intérieure = Semences + Pertes + Nourriture + Aliments pour animaux + Traitement + Autres sutilisations

Taux de dépendance aux importations (TDI) = (Importation ÷ Disponibilité intérieure) x 100

Taux d'auto-suffisance (TAS) = (Production ÷ Disponibilité intérieure) x 100

In [310]:
# Calcul du Taux de dépendance aux importations (TDI)

volaille_pivot['TDI(%)'] = (volaille_pivot['Importations - Quantité']/volaille_pivot['Disponibilité intérieure'])*100
volaille_pivot.head(3)

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,TDI(%)
Zone,,,,,,,,,,,,,,,,,,
Afghanistan,0.217949,0.0,44.117647,5.0,1.53,0.33,0.54,57.0,132.185185,29.0,55.0,2.00000,28.0,0.0,0.0,26.282609,0.0,50.877193
Afrique du Sud,0.000000,0.0,44.117647,143.0,35.69,9.25,14.11,2118.0,63.000000,514.0,2035.0,83.00000,1667.0,0.0,0.0,26.282609,0.0,24.268178
Albanie,0.217949,0.0,44.117647,85.0,16.36,6.45,6.26,47.0,0.000000,38.0,47.0,43.58209,13.0,0.0,0.0,26.282609,4.0,80.851064

In [311]:
# Calcul du Taux d'auto-suffisance (TAS)

volaille_pivot['TAS(%)'] = (volaille_pivot['Production']/volaille_pivot['Disponibilité intérieure'])*100
volaille_pivot.head(3)

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,TDI(%),TAS(%)
Zone,,,,,,,,,,,,,,,,,,,
Afghanistan,0.217949,0.0,44.117647,5.0,1.53,0.33,0.54,57.0,132.185185,29.0,55.0,2.00000,28.0,0.0,0.0,26.282609,0.0,50.877193,49.122807
Afrique du Sud,0.000000,0.0,44.117647,143.0,35.69,9.25,14.11,2118.0,63.000000,514.0,2035.0,83.00000,1667.0,0.0,0.0,26.282609,0.0,24.268178,78.706327
Albanie,0.217949,0.0,44.117647,85.0,16.36,6.45,6.26,47.0,0.000000,38.0,47.0,43.58209,13.0,0.0,0.0,26.282609,4.0,80.851064,27.659574

In [312]:
# Informations du df

volaille_pivot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, Afghanistan to Îles Salomon
Data columns (total 19 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Alimentation pour touristes                                    172 non-null    float64
 1   Aliments pour animaux                                          172 non-null    float64
 2   Autres utilisations (non alimentaire)                          172 non-null    float64
 3   Disponibilité alimentaire (Kcal/personne/jour)                 172 non-null    float64
 4   Disponibilité alimentaire en quantité (kg/personne/an)         172 non-null    float64
 5   Disponibilité de matière grasse en quantité (g/personne/jour)  172 non-null    float64
 6   Disponibilité de protéines en quantité (g/personne/jour)       172 non-null    float64
 7   Disponibilité intérieure                                       172 non-null    float64
 8   Exportations - Quantité                                        172 non-null    float64
 9   Importations - Quantité                                        172 non-null    float64
 10  Nourriture                                                     172 non-null    float64
 11  Pertes                                                         172 non-null    float64
 12  Production                                                     172 non-null    float64
 13  Résidus                                                        172 non-null    float64
 14  Semences                                                       172 non-null    float64
 15  Traitement                                                     172 non-null    float64
 16  Variation de stock                                             172 non-null    float64
 17  TDI(%)                                                         172 non-null    float64
 18  TAS(%)                                                         172 non-null    float64
dtypes: float64(19)
memory usage: 26.9+ KB

In [360]:
volaille_pivot.describe()

Élément,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,TDI(%),TAS(%)
count,172.000000,172.0,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.0,172.000000,172.000000,172.000000,172.000000
mean,0.217949,0.0,44.117647,74.558140,20.213372,4.898430,7.121279,687.594118,132.185185,89.529412,657.047059,43.582090,725.190476,-2.835366,0.0,26.282609,13.668639,45.422612,253.109458
std,1.610083,0.0,62.570546,60.571277,15.860311,4.191336,5.603464,2174.356574,454.815536,185.575135,2124.014628,75.059988,2472.027193,13.258244,0.0,28.225007,74.700863,51.666285,1890.702022
min,-18.000000,0.0,0.000000,0.000000,0.130000,0.030000,0.040000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,-125.000000,0.0,0.000000,-119.000000,0.000000,0.000000
25%,0.000000,0.0,44.117647,22.000000,6.440000,1.460000,2.165000,31.500000,0.000000,3.000000,29.500000,11.500000,14.750000,0.000000,0.0,26.282609,0.000000,4.309605,40.000000
50%,0.217949,0.0,44.117647,64.000000,18.090000,3.745000,6.505000,105.000000,8.500000,16.000000,101.000000,43.582090,74.500000,0.000000,0.0,26.282609,0.000000,24.255301,88.846154
75%,0.217949,0.0,44.117647,105.500000,30.037500,6.597500,10.365000,376.500000,132.185185,85.250000,383.500000,43.582090,503.000000,0.000000,0.0,26.282609,8.000000,80.212766,100.000000
max,5.000000,0.0,783.000000,243.000000,72.310000,17.860000,27.870000,18266.000000,4223.000000,1069.000000,18100.000000,695.000000,21914.000000,0.000000,0.0,306.000000,859.000000,323.928571,24173.015873

In [313]:
# Variables à sélectionner

volaille = volaille_pivot.loc[:,['Exportations - Quantité','Importations - Quantité','Disponibilité alimentaire en quantité (kg/personne/an)','Disponibilité alimentaire (Kcal/personne/jour)','Disponibilité de protéines en quantité (g/personne/jour)', 'TDI(%)', 'TAS(%)']]
volaille.head(3)

Élément,Exportations - Quantité,Importations - Quantité,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),TDI(%),TAS(%)
Zone,,,,,,,
Afghanistan,132.185185,29.0,1.53,5.0,0.54,50.877193,49.122807
Afrique du Sud,63.000000,514.0,35.69,143.0,14.11,24.268178,78.706327
Albanie,0.000000,38.0,16.36,85.0,6.26,80.851064,27.659574

### 2.2 Table Population

In [314]:
# Importation de la table Population de 2000 à 2018

population = pd.read_csv('Population_2000_2018.csv')
population.head(3)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN

In [315]:
# Informations de la table

population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4411 entries, 0 to 4410
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            4411 non-null   object
 1   Domaine                 4411 non-null   object
 2   Code zone               4411 non-null   int64
 3   Zone                    4411 non-null   object
 4   Code Élément            4411 non-null   int64
 5   Élément                 4411 non-null   object
 6   Code Produit            4411 non-null   int64
 7   Produit                 4411 non-null   object
 8   Code année              4411 non-null   int64
 9   Année                   4411 non-null   int64
 10  Unité                   4411 non-null   object
 11  Valeur                  4411 non-null   float64
 12  Symbole                 4411 non-null   object
 13  Description du Symbole  4411 non-null   object
 14  Note                    258 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 517.0+ KB

In [316]:

# Faire pivoter la colonne "Année"

population_annee = population.pivot_table(index = 'Zone', columns = 'Année', values = 'Valeur')
population_annee.head(3)

Année,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Zone,,,,,,,,,,,,,,,,,,,
Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921
Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,50477.011,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518
Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740

In [317]:
# Créer et calculer la variable 'croissance démographique (%)' entre 2020 et 2017

population_annee['croissance_demographique(%)']=(population_annee[2017] - population_annee[2012]) /(population_annee[2012])
population_annee.head(3)

Année,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,croissance_demographique(%)
Zone,,,,,,,,,,,,,,,,,,,,
Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921,0.164779
Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,50477.011,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518,0.079063
Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740,-0.010270

In [318]:

population_annee = pd.DataFrame(population_annee.to_records())
population_annee.head()

,Zone,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,croissance_demographique(%)
0,Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,...,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921,0.164779
1,Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,...,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518,0.079063
2,Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,...,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740,-0.010270
3,Algérie,31042.235,31451.514,31855.109,32264.157,32692.163,33149.724,33641.002,34166.972,34730.608,...,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408,0.107140
4,Allemagne,81400.882,81453.885,81535.122,81614.380,81646.474,81602.741,81472.226,81277.830,81065.752,...,80827.002,80855.632,80972.628,81174.367,81450.378,81787.411,82193.768,82658.409,83124.418,0.020819

In [319]:
# Afficher toutes les lignes du DataFrame
print(population_annee)

                          Zone       2000       2001       2002       2003  \
0                  Afghanistan  20779.953  21606.988  22600.770  23680.871
1               Afrique du Sud  44967.708  45571.274  46150.913  46719.196
2                      Albanie   3129.243   3129.704   3126.187   3118.023
3                      Algérie  31042.235  31451.514  31855.109  32264.157
4                    Allemagne  81400.882  81453.885  81535.122  81614.380
..                         ...        ...        ...        ...        ...
233               Îles Salomon    412.660    423.944    435.432    447.017
234    Îles Turques-et-Caïques     20.164     21.573     23.232     25.011
235   Îles Vierges américaines    108.722    108.691    108.561    108.360
236  Îles Vierges britanniques     20.311     20.675     21.129     21.672
237      Îles Wallis-et-Futuna     14.694     14.843     14.988     15.096

          2004       2005       2006       2007       2008  ...       2010  \
0    24726.684  25654.277  26433.049  27100.536  27722.276  ...  29185.507
1    47291.610  47880.601  48489.459  49119.759  49779.471  ...  51216.964
2     3104.892   3086.810   3063.021   3033.998   3002.678  ...   2948.023
3    32692.163  33149.724  33641.002  34166.972  34730.608  ...  35977.455
4    81646.474  81602.741  81472.226  81277.830  81065.752  ...  80827.002
..         ...        ...        ...        ...        ...  ...        ...
233    458.539    469.918    481.078    492.132    503.360  ...    527.861
234     26.700     28.180     29.391     30.385     31.202  ...     32.660
235    108.092    107.794    107.462    107.115    106.756  ...    106.087
236     22.334     23.107     24.023     25.047     26.097  ...     27.794
237     15.093     14.939     14.609     14.132     13.578  ...     12.689

          2011       2012       2013       2014       2015       2016  \
0    30117.413  31161.376  32269.589  33370.794  34413.603  35383.032
1    52003.755  52832.658  53687.121  54544.186  55386.367  56207.646
2     2928.592   2914.096   2903.790   2896.305   2890.513   2886.438
3    36661.445  37383.895  38140.133  38923.692  39728.025  40551.392
4    80855.632  80972.628  81174.367  81450.378  81787.411  82193.768
..         ...        ...        ...        ...        ...        ...
233    541.521    556.063    571.336    587.079    603.118    619.438
234     33.377     34.066     34.731     35.369     35.981     36.559
235    105.793    105.534    105.303    105.114    104.958    104.835
236     28.319     28.650     28.847     28.989     29.152     29.355
237     12.462     12.375     12.356     12.340     12.266     12.107

          2017       2018  croissance_demographique(%)
0    36296.113  37171.921                     0.164779
1    57009.756  57792.518                     0.079063
2     2884.169   2882.740                    -0.010270
3    41389.189  42228.408                     0.107140
4    82658.409  83124.418                     0.020819
..         ...        ...                          ...
233    636.039    652.857                     0.143825
234     37.115     37.665                     0.089503
235    104.751    104.680                    -0.007419
236     29.577     29.802                     0.032356
237     11.900     11.661                    -0.038384

[238 rows x 21 columns]

In [320]:
# Afficher les dimensions du DataFrame
print(population_annee.shape)

(238, 21)

In [321]:
# Sélectionner les colonnes spécifiques
pop = population_annee[['Zone', '2017', 'croissance_demographique(%)']]

# Afficher les informations du DataFrame
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Zone                         238 non-null    object
 1   2017                         236 non-null    float64
 2   croissance_demographique(%)  236 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.7+ KB

### 2.3 Table Faostat 2017

In [322]:
# Importation de la table faostat

faostat = pd.read_excel('FAOSTAT_data_fr_11-25-2024.xls')
faostat.head(3)

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,Int$/cap,2956.80,X,Ciffre de sources internationales,NaN
1,FS,Données de la sécurité alimentaire,4,Afghanistan,6125,Valeur,21032,Stabilité politique et absence de violence/ter...,2017,2017,NaN,-2.79,X,Ciffre de sources internationales,NaN
2,FS,Données de la sécurité alimentaire,710,Afrique du Sud,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2017,2017,Int$/cap,14823.60,X,Ciffre de sources internationales,NaN

In [323]:
# Variables à sélectionner

faostat = faostat.loc[:,['Zone','Produit','Valeur']]
faostat.head(3)

             Zone                                            Produit    Valeur
0     Afghanistan  PIB par habitant, ($ PPA internationaux consta...   2956.80
1     Afghanistan  Stabilité politique et absence de violence/ter...     -2.79
2  Afrique du Sud  PIB par habitant, ($ PPA internationaux consta...  14823.60

In [324]:
# Faire pivoter la colonne "Produit"

fao = faostat.pivot_table(index='Zone', columns='Produit', values = 'Valeur')
fao.head(3)

Produit,"PIB par habitant, ($ PPA internationaux constants de 2017)",Stabilité politique et absence de violence/terrorisme (indice)
Zone,,
Afghanistan,2956.8,-2.79
Afrique du Sud,14823.6,-0.28
Albanie,14229.3,0.37

### 2.4 Table Distance France

In [325]:
# Importation de la table Distance

dist = pd.read_excel('dist_cepii.xls')
dist.head(3)

,iso_o,iso_d,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
0,ABW,ABW,0,0,0,0,0,0,0,0,5.225315,5.225315,25.09354,23.04723
1,ABW,AFG,0,0,0,0,0,0,0,0,13257.810000,13257.810000,13168.22,13166.37
2,ABW,AGO,0,0,0,0,0,0,0,0,9516.913000,9516.913000,9587.316,9584.193

In [326]:
# Sélection par rapport à la France

distfra = dist.loc[dist['iso_o']== 'FRA']
distfra.tail(3)

,iso_o,iso_d,contig,comlang_off,comlang_ethno,colony,comcol,curcol,col45,smctry,dist,distcap,distw,distwces
15229,FRA,ZAR,0,1,1,0,0,0,0,0,6049.656,6049.656,6036.588,5995.903
15230,FRA,ZMB,0,0,0,0,0,0,0,0,7604.841,7604.841,7236.737,7221.197
15231,FRA,ZWE,0,0,0,0,0,0,0,0,7949.676,7949.676,7771.569,7759.68

In [327]:
# Variables à sélectionner

distancefrance = distfra.loc[:,['iso_d','dist']]
distancefrance.head(3)

      iso_d      dist
15008   ABW  7685.884
15009   AFG  5590.381
15010   AGO  6510.322

In [328]:
distancefrance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224 entries, 15008 to 15231
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   iso_d   224 non-null    object
 1   dist    224 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.2+ KB

### 2.5 Table Zone

#https://unstats.un.org/unsd/methodology/m49/overview

In [329]:
# Importation de la table Zone

zone = pd.read_csv('iso_zone.xls')
zone.head()

,Code mondial,Nom global,Code de région,Nom de la région,Code de sous-région,Nom de la sous-région,Code de région intermédiaire,Nom de la région intermédiaire,Pays ou zone,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Pays les moins avancés (PMA),Pays en développement sans littoral (PDSL),Petits États insulaires en développement (PEID)
0,1,Monde,19.0,Amériques,419.0,Amérique latine et Caraïbes,29.0,Caraïbes,Aruba,533,AW,ABW,NaN,NaN,x
1,1,Monde,142.0,Asie,34.0,Asie méridionale,NaN,NaN,Afghanistan,4,AF,AFG,x,x,NaN
2,1,Monde,2.0,Afrique,202.0,Afrique subsaharienne,17.0,Afrique centrale,Angola,24,AO,AGO,x,NaN,NaN
3,1,Monde,19.0,Amériques,419.0,Amérique latine et Caraïbes,29.0,Caraïbes,Anguilla,660,AI,AIA,NaN,NaN,x
4,1,Monde,150.0,Europe,154.0,Europe septentrionale,NaN,NaN,Îles d’Åland,248,AX,ALA,NaN,NaN,NaN

In [330]:
zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 15 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Code mondial                                     248 non-null    int64
 1   Nom global                                       248 non-null    object
 2   Code de région                                   247 non-null    float64
 3   Nom de la région                                 247 non-null    object
 4   Code de sous-région                              247 non-null    float64
 5   Nom de la sous-région                            247 non-null    object
 6   Code de région intermédiaire                     105 non-null    float64
 7   Nom de la région intermédiaire                   105 non-null    object
 8   Pays ou zone                                     248 non-null    object
 9   M49 Code                                         248 non-null    int64
 10  ISO-alpha2 Code                                  247 non-null    object
 11  ISO-alpha3 Code                                  248 non-null    object
 12  Pays les moins avancés (PMA)                     45 non-null     object
 13  Pays en développement sans littoral (PDSL)       32 non-null     object
 14  Petits États insulaires en développement (PEID)  53 non-null     object
dtypes: float64(3), int64(2), object(10)
memory usage: 29.2+ KB

In [331]:

# Garder uniquement les colonnes 'name' et 'alpha-3'
zone = zone[['Pays ou zone', 'ISO-alpha3 Code']]

# Renommer les colonnes
zone = zone.rename(columns={'Pays ou zone': 'Zone', 'ISO-alpha3 Code': 'iso_d'})

# Inverser l'ordre des colonnes
zone = zone[['iso_d', 'Zone']]

# Afficher les premières lignes du DataFrame pour vérifier le changement
zone.head()

  iso_d          Zone
0   ABW         Aruba
1   AFG   Afghanistan
2   AGO        Angola
3   AIA      Anguilla
4   ALA  Îles d’Åland

## 3 Dataframe final

### 3.1 Informations sur les tables

In [332]:
# Table volaille de disponibilité alimentaire

volaille.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, Afghanistan to Îles Salomon
Data columns (total 7 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Exportations - Quantité                                   172 non-null    float64
 1   Importations - Quantité                                   172 non-null    float64
 2   Disponibilité alimentaire en quantité (kg/personne/an)    172 non-null    float64
 3   Disponibilité alimentaire (Kcal/personne/jour)            172 non-null    float64
 4   Disponibilité de protéines en quantité (g/personne/jour)  172 non-null    float64
 5   TDI(%)                                                    172 non-null    float64
 6   TAS(%)                                                    172 non-null    float64
dtypes: float64(7)
memory usage: 10.8+ KB

In [333]:
# Table pop_croissance_demo de population

pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Zone                         238 non-null    object
 1   2017                         236 non-null    float64
 2   croissance_demographique(%)  236 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.7+ KB

In [334]:
# Table faostat_pivot de faostat

fao.info()

<class 'pandas.core.frame.DataFrame'>
Index: 198 entries, Afghanistan to Îles Salomon
Data columns (total 2 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   PIB par habitant, ($ PPA internationaux constants de 2017)      190 non-null    float64
 1   Stabilité politique et absence de violence/terrorisme (indice)  196 non-null    float64
dtypes: float64(2)
memory usage: 4.6+ KB

In [335]:
# Table de distance par rapport à la France

distancefrance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224 entries, 15008 to 15231
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   iso_d   224 non-null    object
 1   dist    224 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.2+ KB

In [336]:
# Table zone

zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   iso_d   248 non-null    object
 1   Zone    248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [337]:
# Renommer la colonne iso_3166-2 en iso_d
zone = zone.rename(columns={'iso_3166-2': 'iso_d'})

# Afficher les premières lignes du DataFrame pour vérifier le changement
print(zone.head())

  iso_d          Zone
0   ABW         Aruba
1   AFG   Afghanistan
2   AGO        Angola
3   AIA      Anguilla
4   ALA  Îles d’Åland

### 3.2 Les jointures

In [338]:
# 1. Distance = Jointure Distance_Zone

distance = distancefrance.merge(zone, how = 'left', on = 'iso_d')
columns_to_drop = ['iso_d']
distance.drop(columns=columns_to_drop, inplace=True)
distance.head()

       dist         Zone
0  7685.884        Aruba
1  5590.381  Afghanistan
2  6510.322       Angola
3  6710.570     Anguilla
4  1603.534      Albanie

In [339]:
# Informations

distance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dist    224 non-null    float64
 1   Zone    217 non-null    object
dtypes: float64(1), object(1)
memory usage: 3.6+ KB

In [340]:
# 2. Faodistance = jointure Faostat_Distance

faodistance = fao.merge(distance, how = 'left', on = 'Zone')
faodistance.head()

,Zone,"PIB par habitant, ($ PPA internationaux constants de 2017)",Stabilité politique et absence de violence/terrorisme (indice),dist
0,Afghanistan,2956.8,-2.79,5590.3810
1,Afrique du Sud,14823.6,-0.28,9353.5520
2,Albanie,14229.3,0.37,1603.5340
3,Algérie,13805.4,-0.92,1340.3900
4,Allemagne,61563.6,0.57,439.8984

In [341]:
# Informations

faodistance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 4 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Zone                                                            198 non-null    object
 1   PIB par habitant, ($ PPA internationaux constants de 2017)      190 non-null    float64
 2   Stabilité politique et absence de violence/terrorisme (indice)  196 non-null    float64
 3   dist                                                            182 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.3+ KB

In [342]:
# 3. Avec pop_croissance_demo

faodistpop = faodistance.merge(pop, how = 'left', on = 'Zone')
faodistpop.head()

,Zone,"PIB par habitant, ($ PPA internationaux constants de 2017)",Stabilité politique et absence de violence/terrorisme (indice),dist,2017,croissance_demographique(%)
0,Afghanistan,2956.8,-2.79,5590.3810,36296.113,0.164779
1,Afrique du Sud,14823.6,-0.28,9353.5520,57009.756,0.079063
2,Albanie,14229.3,0.37,1603.5340,2884.169,-0.010270
3,Algérie,13805.4,-0.92,1340.3900,41389.189,0.107140
4,Allemagne,61563.6,0.57,439.8984,82658.409,0.020819

In [343]:
# Informations

faodistpop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 6 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Zone                                                            198 non-null    object
 1   PIB par habitant, ($ PPA internationaux constants de 2017)      190 non-null    float64
 2   Stabilité politique et absence de violence/terrorisme (indice)  196 non-null    float64
 3   dist                                                            182 non-null    float64
 4   2017                                                            196 non-null    float64
 5   croissance_demographique(%)                                     196 non-null    float64
dtypes: float64(5), object(1)
memory usage: 9.4+ KB

In [344]:
# 4. Avec volaille

data = faodistpop.merge(volaille, how = 'right', on ='Zone')
data.head()

,Zone,"PIB par habitant, ($ PPA internationaux constants de 2017)",Stabilité politique et absence de violence/terrorisme (indice),dist,2017,croissance_demographique(%),Exportations - Quantité,Importations - Quantité,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),TDI(%),TAS(%)
0,Afghanistan,2956.8,-2.79,5590.3810,36296.113,0.164779,132.185185,29.0,1.53,5.0,0.54,50.877193,49.122807
1,Afrique du Sud,14823.6,-0.28,9353.5520,57009.756,0.079063,63.000000,514.0,35.69,143.0,14.11,24.268178,78.706327
2,Albanie,14229.3,0.37,1603.5340,2884.169,-0.010270,0.000000,38.0,16.36,85.0,6.26,80.851064,27.659574
3,Algérie,13805.4,-0.92,1340.3900,41389.189,0.107140,0.000000,2.0,6.38,22.0,1.97,0.722022,99.277978
4,Allemagne,61563.6,0.57,439.8984,82658.409,0.020819,646.000000,842.0,19.47,71.0,7.96,48.418631,87.061530

In [345]:
# Informations

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 13 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Zone                                                            172 non-null    object
 1   PIB par habitant, ($ PPA internationaux constants de 2017)      163 non-null    float64
 2   Stabilité politique et absence de violence/terrorisme (indice)  167 non-null    float64
 3   dist                                                            156 non-null    float64
 4   2017                                                            168 non-null    float64
 5   croissance_demographique(%)                                     168 non-null    float64
 6   Exportations - Quantité                                         172 non-null    float64
 7   Importations - Quantité                                         172 non-null    float64
 8   Disponibilité alimentaire en quantité (kg/personne/an)          172 non-null    float64
 9   Disponibilité alimentaire (Kcal/personne/jour)                  172 non-null    float64
 10  Disponibilité de protéines en quantité (g/personne/jour)        172 non-null    float64
 11  TDI(%)                                                          172 non-null    float64
 12  TAS(%)                                                          172 non-null    float64
dtypes: float64(12), object(1)
memory usage: 17.6+ KB

### 3.3 Filtrage et nettoyage du dataframe créé

In [346]:
# Renommer certaines colonnes

data.rename(columns = {'dist': 'distance_France(km)' }, inplace = True)
data.rename(columns = {'2017': 'population_2017' }, inplace = True)
data.rename(columns = {'PIB par habitant, ($ PPA internationaux constants de 2017)': 'PIB' }, inplace = True)
data.rename(columns = {'Stabilité politique et absence de violence/terrorisme (indice)': 'stabilite_politique' }, inplace = True)
data.head()

,Zone,PIB,stabilite_politique,distance_France(km),population_2017,croissance_demographique(%),Exportations - Quantité,Importations - Quantité,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),TDI(%),TAS(%)
0,Afghanistan,2956.8,-2.79,5590.3810,36296.113,0.164779,132.185185,29.0,1.53,5.0,0.54,50.877193,49.122807
1,Afrique du Sud,14823.6,-0.28,9353.5520,57009.756,0.079063,63.000000,514.0,35.69,143.0,14.11,24.268178,78.706327
2,Albanie,14229.3,0.37,1603.5340,2884.169,-0.010270,0.000000,38.0,16.36,85.0,6.26,80.851064,27.659574
3,Algérie,13805.4,-0.92,1340.3900,41389.189,0.107140,0.000000,2.0,6.38,22.0,1.97,0.722022,99.277978
4,Allemagne,61563.6,0.57,439.8984,82658.409,0.020819,646.000000,842.0,19.47,71.0,7.96,48.418631,87.061530

In [347]:
# Filtre de la France

france = data[data['Zone'] == "France"]
france

,Zone,PIB,stabilite_politique,distance_France(km),population_2017,croissance_demographique(%),Exportations - Quantité,Importations - Quantité,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),TDI(%),TAS(%)
51,France,53398.3,0.27,278.1876,64842.509,0.02011,501.0,506.0,22.9,92.0,8.95,32.167832,111.252384

In [348]:
# Exclusion de la France des données!

data = data.drop(data.loc[data['Zone'] == "France"].index)

In [349]:
# Sélection des variables pour la suite

data = data[['Zone', 'PIB', 'TDI(%)', 'TAS(%)', 'croissance_demographique(%)', 'distance_France(km)', 'population_2017', 'stabilite_politique', 'Disponibilité alimentaire en quantité (kg/personne/an)', 'Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne/jour)']]
data.head(3)

,Zone,PIB,TDI(%),TAS(%),croissance_demographique(%),distance_France(km),population_2017,stabilite_politique,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
0,Afghanistan,2956.8,50.877193,49.122807,0.164779,5590.381,36296.113,-2.79,1.53,5.0,0.54
1,Afrique du Sud,14823.6,24.268178,78.706327,0.079063,9353.552,57009.756,-0.28,35.69,143.0,14.11
2,Albanie,14229.3,80.851064,27.659574,-0.010270,1603.534,2884.169,0.37,16.36,85.0,6.26

In [350]:
# Les valeurs manquantes

data.isnull().sum()

Zone                                                         0
PIB                                                          9
TDI(%)                                                       0
TAS(%)                                                       0
croissance_demographique(%)                                  4
distance_France(km)                                         16
population_2017                                              4
stabilite_politique                                          5
Disponibilité alimentaire en quantité (kg/personne/an)       0
Disponibilité alimentaire (Kcal/personne/jour)               0
Disponibilité de protéines en quantité (g/personne/jour)     0
dtype: int64

In [351]:
# Afficher les lignes de PIB qui ont des valeurs manquantes

data[data.PIB.isna()]

,Zone,PIB,TDI(%),TAS(%),croissance_demographique(%),distance_France(km),population_2017,stabilite_politique,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
33,"Chine, Taiwan Province de",NaN,20.509554,83.057325,NaN,NaN,NaN,NaN,33.17,126.0,11.01
40,Cuba,NaN,91.228070,8.479532,0.007298,7729.485,11339.254,0.64,23.72,82.0,7.12
108,Nouvelle-Calédonie,NaN,81.818182,9.090909,NaN,NaN,NaN,NaN,38.71,136.0,14.05
117,Pays-Bas,NaN,163.440860,295.698925,NaN,NaN,NaN,NaN,20.33,70.0,8.48
120,Polynésie française,NaN,100.000000,6.666667,NaN,NaN,NaN,NaN,47.40,167.0,16.20
131,République populaire démocratique de Corée,NaN,0.000000,100.000000,0.025370,8783.568,25429.825,-0.50,1.62,8.0,0.49
156,Turkménistan,NaN,33.333333,74.074074,0.092972,4581.080,5757.667,-0.13,4.52,15.0,1.53
161,Venezuela (République bolivarienne du),NaN,3.993610,95.846645,0.001418,7618.860,29402.484,-1.25,20.28,71.0,7.23
163,Yémen,NaN,31.707317,68.292683,0.137360,5317.261,27834.819,-2.93,8.53,30.0,3.04

In [352]:
# Définir la variable 'Zone' comme index

data.set_index('Zone', inplace=True)
data.head(3)

,PIB,TDI(%),TAS(%),croissance_demographique(%),distance_France(km),population_2017,stabilite_politique,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
Zone,,,,,,,,,,
Afghanistan,2956.8,50.877193,49.122807,0.164779,5590.381,36296.113,-2.79,1.53,5.0,0.54
Afrique du Sud,14823.6,24.268178,78.706327,0.079063,9353.552,57009.756,-0.28,35.69,143.0,14.11
Albanie,14229.3,80.851064,27.659574,-0.010270,1603.534,2884.169,0.37,16.36,85.0,6.26

In [353]:
# Remplacer les valeurs manquantes par les moyennes

data = data.fillna(data.mean())
data.head(3)

,PIB,TDI(%),TAS(%),croissance_demographique(%),distance_France(km),population_2017,stabilite_politique,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
Zone,,,,,,,,,,
Afghanistan,2956.8,50.877193,49.122807,0.164779,5590.381,36296.113,-2.79,1.53,5.0,0.54
Afrique du Sud,14823.6,24.268178,78.706327,0.079063,9353.552,57009.756,-0.28,35.69,143.0,14.11
Albanie,14229.3,80.851064,27.659574,-0.010270,1603.534,2884.169,0.37,16.36,85.0,6.26

In [354]:
# Filtrer les lignes où l'index contient le nom "Chine"

chine_data = data[data.index.str.contains('Chine', case=False, na=False)]

# Afficher les résultats

chine_data

,PIB,TDI(%),TAS(%),croissance_demographique(%),distance_France(km),population_2017,stabilite_politique,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité de protéines en quantité (g/personne/jour)
Zone,,,,,,,,,,
Chine - RAS de Hong-Kong,65662.700000,323.928571,8.571429,0.036821,6031.922414,7.306322e+03,0.820000,53.51,210.0,22.26
Chine - RAS de Macao,135547.000000,121.052632,15.789474,0.103798,6031.922414,6.225850e+02,1.410000,34.47,142.0,11.90
"Chine, Taiwan Province de",22977.733333,20.509554,83.057325,0.071499,6031.922414,4.348916e+04,-0.083916,33.17,126.0,11.01
"Chine, continentale",16461.100000,2.488850,100.412973,0.026597,6031.922414,1.421022e+06,-0.083916,12.33,59.0,3.96

In [355]:
# Supprimer les autres Chine

index_to_remove = ['Chine - RAS de Hong-Kong', 'Chine - RAS de Macao', 'Chine, Taiwan Province de']

data = data.drop(index_to_remove)
data.shape

(168, 10)

In [356]:
# Les valeurs manquantes

data.isnull().sum()

PIB                                                         0
TDI(%)                                                      0
TAS(%)                                                      0
croissance_demographique(%)                                 0
distance_France(km)                                         0
population_2017                                             0
stabilite_politique                                         0
Disponibilité alimentaire en quantité (kg/personne/an)      0
Disponibilité alimentaire (Kcal/personne/jour)              0
Disponibilité de protéines en quantité (g/personne/jour)    0
dtype: int64

In [357]:
# Informations du df data

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168 entries, Afghanistan to Îles Salomon
Data columns (total 10 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   PIB                                                       168 non-null    float64
 1   TDI(%)                                                    168 non-null    float64
 2   TAS(%)                                                    168 non-null    float64
 3   croissance_demographique(%)                               168 non-null    float64
 4   distance_France(km)                                       168 non-null    float64
 5   population_2017                                           168 non-null    float64
 6   stabilite_politique                                       168 non-null    float64
 7   Disponibilité alimentaire en quantité (kg/personne/an)    168 non-null    float64
 8   Disponibilité alimentaire (Kcal/personne/jour)            168 non-null    float64
 9   Disponibilité de protéines en quantité (g/personne/jour)  168 non-null    float64
dtypes: float64(10)
memory usage: 14.4+ KB

In [358]:
# Extraction de la table de données data

data.to_csv('Téléchargements.csv')